.projects {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:100px;
    margin:50px auto;
    //width:100%;

    article {
        display:flex;
        justify-content: center;
        align-items:center;

        width:400px;
        height:325px; 
        border-radius: 10px;
        cursor:pointer;  
        transition: all ease 0.5s;

        h2 {
            visibility:hidden;
            color:white;
            background-color: rgba(64, 64, 64, 0.3);
            border-radius: 5px;
            text-shadow: 1px 1px 5px black;
            font-family: 'Roboto', sans-serif;
            padding:5px;
        }
        
        &.projet1 {
            background-image: url(../images/projet1.png);
        }
        
        &.projet2 {
            background-image: url(../images/projet2.png);
        }
        
        &.projet3 {
            background-image: url(../images/projet3.png);
        }
        
        &.projet4 {
            background-image: url(../images/projet4.png);
        }
        
        &.projet5 {
            background-image: url(../images/projet5.png);
        }
        
        &.projet6 {
            background-image: url(../images/projet6.png);
        }
        
        &.projet7 {
            background-image: url(../images/projet7.png);
        }
        
        &.projet8 {
            background-image: url(../images/projet8.png);
        }
                
        &.projet9 {
            background-image: url(../images/projet9.png);
        }


        &:hover {
            filter:grayscale(1);

            h2 {
                visibility:visible;
            }
        }

    }
}