.projects {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px;
    margin:100px auto;

    article {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;

        width:400px;
        height:325px; 
        border-radius: 10px;
        //box-shadow: 8px 8px 8px #f8f7fd;
        cursor:pointer;  
        transition: background-image ease 0.5s;

        &:hover {
            box-shadow: 8px 8px 8px #7f7f7f;
        }

        h2 {
            visibility:hidden;
            color:$color-body;
            font-family: 'Roboto', sans-serif;
            padding:5px;
        }
        
        &.projet1 {
            background-image: url(../images/projet1.png);
            background-color: $color-cartel;
            //background-size: contain;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet1.png);
            }
        }
        
        &.projet2 {
            background-image: url(../images/projet2.png);
            background-color: $color-cartel;
            //background-size: contain;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet2.png);
            }
        }
        
        &.projet3 {
            background-image: url(../images/projet3.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet3.png);
            }
        }
        
        &.projet4 {
            background-image: url(../images/projet4.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet4.png);
            }
        }
        
        &.projet5 {
            background-image: url(../images/projet5.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet5.png);
            }
        }
        
        &.projet6 {
            background-image: url(../images/projet6.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet6.png);
            }
        }
        
        &.projet7 {
            background-image: url(../images/projet7.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet7.png);
            }
        }
        
        &.projet8 {
            background-image: url(../images/projet8.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet8.png);
            }
        }
                
        &.projet9 {
            background-image: url(../images/projet9.png);
            background-color: $color-cartel;
            
            &:hover {
                background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../images/projet9.png);
            }
        }

        .technos {
            position:relative;
            width:100%;
            bottom:-80px;
            visibility:hidden;

            ul {
                display: flex;
                align-items: center;
                padding: 5px 20px;
                margin:0 10px;
                background-color:#ffffffe5;
                border-radius:10px;

                &.between {
                    justify-content: space-between;                   
                }

                &.around {
                    justify-content: space-around;                   
                }

                li 
                { 
                    list-style: none;

                    img{
                        width: 50px;
                    }
                    
                }
            }
        }

        
        &:hover {    
            //filter:grayscale(0.85);

            h2, .technos {
                visibility:visible;                
            }            
        }

    }

    @media screen and (max-width: 1650px) {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (max-width: 1300px) {
        grid-template-columns: 1fr 1fr;
    }
    
    @media screen and (max-width: 850px) {
        grid-template-columns: 1fr;
    }
}