header {
    display: flex; 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #263197;
    box-shadow: 0 3px 3px #263197;
    color: white;
    justify-content: space-between;
    align-items: center;
    z-index:1;
    
    .contact {  
        ul {
            display: flex;
            align-items: center;
            margin:0;
            padding:0;

            li {

                list-style: none;
                padding:0;
                margin-left:20px;

                a {
                    color: white;
                    text-decoration: none;
                    font-size:1.5rem;
                    font-weight: bold;
                }

                @media screen and (max-width: 650px) {
                    margin-left:10px;
                }
            }

            .cv-logo {
                display:none;

                @media screen and (max-width: 850px) {
                    display:inline;
                    font-size:1.8rem;
                }
            }

            .contact-logo {
                display:none;
                
                @media screen and (max-width: 850px) {
                    font-size:1.8rem;
                    display:inline;
                }
            }

            .cv-text {
                @media screen and (max-width: 850px) {
                    display:none;
                }
            }

            .contact-text {
                @media screen and (max-width: 850px) {
                    display:none;
                }
            }
        }
    }

    .name {
        font-size:1.8rem;
        font-weight: bold;
        text-align: center;

        @media screen and (max-width: 650px) {
            font-size:1.6rem;
        }

        @media screen and (max-width: 600px) {
            font-size:1.5rem;
        }

        @media screen and (max-width: 550px) {
            font-size:1.3rem;
        }
        
        @media screen and (max-width: 500px) {
            font-size:1.2rem;
        }
    }
    
    .social {
        ul {
            display: flex;
            align-items: center;
            margin:10px 0;
            padding:0;

            li {
                list-style: none;
                padding:0;
                margin-right:20px;

                a {
                    color: white;
                }

                @media screen and (max-width: 650px) {
                    margin-right:10px;
                }
            }
        }
    }   
}

