html {
    scroll-behavior: smooth;
}

body {
    display:flex;
    justify-content: center;
    font-family: "Roboto", Arial, sans-serif;
    background-color: $color-body;
}

.resume {
    display:none;
    background-color: #14213dfb;
    border-radius: 10px;
    position: fixed;
    top: 10px;
    bottom :10px;
    left: 10px;
    right: 10px;
    z-index:10;
    box-sizing: border-box;
    color:$color-body;
    flex-direction: column;
    overflow: hidden;

    .container {
        padding: 50px 50px;
        overflow-y: auto;
        //text-align: center;
    }
}